* {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
    font-family: Arial, sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 40px;
    background-color: grey;
    border-radius: 12px;
}

nav img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 35px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}

nav ul li a:hover {
    color: darkred;
}

.main-body {
    background-color: lightgray;
    margin-top: 25px;
    border-radius: 12px;
    display: flex;
    padding: 40px;
    gap: 30px;
}

#hello {
    color: black;
    font-size: 28px;
    font-weight: 500;
}

#name {
    color: black;
    display: block;
    font-size: 34px;
    font-weight: 600;
    margin-top: 10px;

}

.introduction {
    margin-left: 30px;
}

.images {
    height: 300px;
    width: 280px;
    border-radius: 20px;
}

.paragraph {
    color: black;
    margin-top: 210px;
    margin-right: 500px;
    gap: 20px;
    font-size: 15px;
}
.about_me{
    font-size: xx-large;
    color: black;
       color: green;
    margin-top: 310px;
    margin-right: 500px
}
form{
    margin-top: 600px;
margin: 50px;
}
footer{
    background-color: lightgray;
    border-radius: 12px;
    height: 100px;
    margin-top: 25px;
    align-items: center;
    padding: 50px;
    color: black;
}
#email{
    color:black;
    margin-top: 25px;
    margin-left: 500px;
    font-size: large;

}
#number{
     color: black;
    margin-top: 90px;
    margin-left: 500px;
    font-size: large;
}
.githubs{
    margin-top: 25px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}