*{
    margin: 0px;
    padding: 0px;
}
.navigation{
    display: flex;
    height: 120px;
    width: 100%;
    background-color: rgb(165, 177, 165);
    justify-content: space-between;
    margin-bottom: 20px;
    position:sticky;
     margin: 12px;
    border-radius: 12px;

}
.navigation img{
    height: 70px;
    width:70px;
    border-radius: 50%;
    border: 3px solid black;
    margin: 20px;
    display: block;
    
}
.order{
    display: flex;
    gap: 40px;
    text-decoration: none;
    margin: 40px;
    list-style: none;
    
}
.order li a{
    color: black;
    text-decoration: none;
    font-size: larger;
}
.main-body{
    background-color: rgb(249, 247, 246);
    position: relative;
    height: 1250px;
    border: 2px solid rgb(218, 187, 183);
    border-radius: 12px;
     margin: 12px;
}
.images{
    height: 600px;
    width: 500px;
    border-radius: 12px;
    position: absolute;
    top: 5%;
    display: inline-block;
    left: 64%;
}
#hello{
    color: rgb(11, 8, 8);
    display: block;
    margin: 24px 48px;
    font-size:xx-large
}
#name{
        color: rgb(32, 23, 23);
    display: block;
    margin-left: 65px;
    font-size:xx-large
}
.paragraph{
    color: gold;
    font-size: large;
    display: block;

}
.para{
    width: 400px;
    display: block;
    margin: 19px;
    
}
.about{
    color: rgb(11, 11, 10);
    font-size: xx-large;
    margin-left: 50px;
    text-decoration:underline;

}
.tables,tr,th,td{
    border: 1px solid rgb(155, 141, 141);
    border-collapse: collapse;
    padding: 5px;
    width: 300px;
    margin: 25px 50px;
   
 
}
th{
    background-color: black;
    color: aliceblue;
}
.imgs{
    display: flex;
    gap: 50px;
    margin: 80px 50px;
}
.imgs img{
height: 100px;
width: 100px;
border-radius: 50%;
}
.tech-stack p{
    font-size: x-large;
    color:black ;
    margin: 80px 80px;
    text-decoration:underline;
}
.form,input,textarea {
padding: 12px;
border-radius: 8px;
margin: 2px;

}
input,textarea {
    color: rgb(11, 11, 11);
    font-size: medium;
    margin: 6px 30px;
}
#formdivs{
    border: 2px solid gold;
    padding:8px;
    display: inline-block;
    width: fit-content;
    border-radius: 5px;
    margin: 12px 90px;
}
.btns{
    padding: 5px;
    border-radius: 3px;
    margin: 20px 50px;
    background-color: rgb(1, 1, 1);
    color: white;
}
.btns:hover{
        background-color:white;
    color: rgb(1, 1, 1);
    cursor: pointer;

}
.formdiv span{
    color: rgb(11, 11, 10);
    font-size: xx-large;
    margin-left: 50px;
    text-decoration:underline;

}
footer{
    background-color: rgb(205, 156, 156);
padding: 12px;
    height: 200px;
    border-radius: 12px;
justify-content: center;
align-items: center;
display: flex;
    margin: 12px;

}
.githubs{

    height: 75px;
    width: 75px;
    border-radius: 50%;
}
footer span{
    font-size:small;

   left: 50%;
   top: 12%;
   margin: 12px;
  
}